@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --pastelGreen: #70AE98;
  --pastelYellow: #ECBE7A;
  --pastelRed: #E58B88;
  --pastelBlue: #9DABDD;
  --pastelViolet: #9C8CDB;
  --pastelGray: #282a35;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
}

input,
textarea,
[contenteditable] {
  caret-color: var(--pastelGray);
}

body {
  background: var(--pastelGray);
  height: 100vh;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background-color: #ddd;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.3em;
}

.nav .logo {
  width: 5%;
  text-align: center;
}

.nav .logo a img {
  height: 50px;
}

.nav .links {
  width: 62%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .links a {
  padding: 30px;
  background-color: #ddd;
  text-decoration: none;
  color: var(--pastelGray);
  font-weight: 900;
}

.nav .links a:not(:first-of-type) {
  margin-left: 0rem;
}

.nav .links :hover {
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  background-color: var(--pastelBlue);
  color: var(--pastelGray);
}

.nav .login {
  width: calc(100%/3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-right: 0.5rem;
}

.nav .login .login__inner a {
  padding: 20px 40px;
  border-radius: 50px;
  text-decoration: none;
  color: var(--pastelGray);
  background-color: var(--pastelBlue);
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .login .login__inner a img {
  height: 25px;
  margin-right: 0.6em;
}

.nav .login .login__inner a:hover {
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
  color: #ddd;
  background-color: var(--pastelGray);
}

.content {
  text-align: center;
}

.polling {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--pastelGray);
  padding: 1.2rem;
  /*.multi{
        display: flex;
        justify-content: center;
        h1{
            color: #ddd;
        }
        .connect{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            padding: 0.6em;
            h1{
                color: #ddd;
            }
        }
    }*/
}

.polling input {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.03em;
  margin: 0.4rem;
  -webkit-backdrop-filter: blur(20rem);
          backdrop-filter: blur(20rem);
  background-color: #bbb;
  border: 0;
  -webkit-box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.4);
  padding: 0.8em;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.polling input:focus {
  outline: 3px solid #202020;
  -webkit-box-shadow: 2px 8px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 8px 2px rgba(0, 0, 0, 0.6);
}
/*# sourceMappingURL=Main.css.map */