// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --pastelGreen: #70AE98;
    --pastelYellow: #ECBE7A;
    --pastelRed: #E58B88;
    --pastelBlue: #9DABDD;
    --pastelViolet: #9C8CDB;
    --pastelGray: #282a35;
}

*{
    padding: 0;
    margin: 0;
    outline: 0;
    // font-family: 'Roboto', sans-serif;
}

input,
textarea,
[contenteditable] {
  caret-color: var(--pastelGray);
}

body{
    background: var(--pastelGray);
    // linear-gradient(rgb(209, 209, 209), rgb(243, 243, 243));
    height: 100vh;
}
.nav{
    display: flex;
    position: sticky;
    top: 0;
    // left: 0;
    // right: 0;
    flex-direction: row;
    align-items: center;
    padding: 0;
    background-color: #ddd;
    // backdrop-filter: blur(20rem);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.3em;
    .logo{
        width: 5%;
        text-align: center;
        a {
            img{
            height: 50px;
            }
        }
    }
    .links{
        width: 62%;
        display: flex;
        
        //justify-content: center;
        a {
            padding: 30px;
            background-color: #ddd;
            text-decoration: none;
            color: var(--pastelGray);
            font-weight: 900;
            &:not(:first-of-type){
                margin-left: 0rem;
            }
        }

        
        :hover {
            transition: 0.1s ease-in-out;
            background-color: var(--pastelBlue);
            color: var(--pastelGray);
        }
    }
    .login{
        width: calc(100%/3);
        display: flex;
        flex-direction: row-reverse;
        margin-right: 0.5rem;
        
        
        .login__inner{
            a {
                padding: 20px 40px;
                border-radius: 50px;
                text-decoration: none;
                color: var(--pastelGray);
                background-color: var(--pastelBlue);
                font-weight: 900;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: 25px;
                    margin-right: 0.6em;
                }
                &:hover {
                    transition: 0.1s ease-in-out;
                    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
                    color: #ddd;
                    background-color: var(--pastelGray);
                }
            }
        }
    }
}
.content {
    text-align: center;
}

.polling {
    height: 30vh;
    display: flex;
    flex-direction: column;
    background-color: var(--pastelGray);
    padding: 1.2rem;
    input {
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        font-weight: 900;
        letter-spacing: 0.03em;
        margin: 0.4rem;
        backdrop-filter: blur(20rem);
        background-color: #bbb;
        border: 0;
        box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.4);
        padding: 0.8em;
        transition: 0.1s ease-in-out;
        &:focus{
            outline: 3px solid rgb(32, 32, 32);
            box-shadow: 2px 8px 2px rgba(0, 0, 0, 0.6);
        }
        
    }
    /*.multi{
        display: flex;
        justify-content: center;
        h1{
            color: #ddd;
        }
        .connect{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            padding: 0.6em;
            h1{
                color: #ddd;
            }
        }
    }*/
}


//   .App-logo {
//     height: 40vmin;
//     pointer-events: none;
//   }
  
//   @media (prefers-reduced-motion: no-preference) {
//     .App-logo {
//       animation: App-logo-spin infinite 20s linear;
//     }
//   }
  
//   .App-header {
//     background-color: #282c34;
//     min-height: 100vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     // font-size: calc(10px + 2vmin);
//     color: white;
//   }
  
//   .App-link {
//     color: #61dafb;
//   }
  
  
//   @keyframes App-logo-spin {
//     from {
//       transform: rotate(0deg);
//     }
//     to {
//       transform: rotate(360deg);
//     }
//   }