:root {
    --width: 10;
}


.bar {
    height: 30px;
    background-color: green;
    transform:
        width(10%);
    transition: transform 4s linear;
    will-change: transform;
}

/* calc(var(--width)*100%) */